
*.iml
*.ipr
*.iws
target/
.idea
.run
.DS_Store

runs/

*~
.checkstyle

/**/var/
__pycache__/
venv/
.venv/
**/.env*
!.env.example
**/*.so

.ruff_cache/

*.db
*.sqlite
*.sqlite3
*.db.wal
*.ddb
*.ddb.wal
*.log

benchmark.parquet